html {
  font-family: Helvetica Neue, Helvetica, arial, sans-serif;
}

body {
  margin: 0;
  background: #f1f1f1;
}

.header {
  background: linear-gradient(to right, #aa00ee, #6600de);
  color: white;
  margin: 0 0;
  padding: 50px 25px;
}

.searchRow {
  background: #fafafa;
  margin: 0 50px 0 50px;
  border-width: 0 0.5px 0.5px 0.5px;
  border-style: solid;
  border-color: #d1d1d1;
  display: flex;
  flex-direction: row;
  box-shadow: -1px 1px 1px grey;
}

.search {
  padding: 10px 30px 10px 30px;
  width: 50%;
  display: flex;
}

input {
  width: 50%;
  font-size: 15px;
}

input.fontSearch {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-decoration: inherit;
  padding: 0 0 0 10px;
}

.peopleCount {
  text-align: right;
  padding: 20px 30px 20px 30px;
  width: 50%;
  font-weight: bold;
}

.eventTeam {
  background: #f7f7f7;
  margin: 0 50px 100px 50px;
  border-width: 0 0.5px 0.5px 0.5px;
  border-style: solid;
  border-color: #d1d1d1;
  display: flex;
  flex-direction: column;
  box-shadow: -1px 1px 1px grey;
}

.eventMember {
  background: #ffffff;
  margin: 0 0;
  border-width: 0 0.5px 0.5px 0px;
  border-style: solid;
  border-color: #f7f7f7;
  display: flex;
  flex-direction: row;
}

.memberName {
  padding: 10px 30px 10px 0;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.memberGravatar {
  width: 30px;
  height: 30px;
  border-width: 1px 1px;
  border-radius: 15%;
  border-style: solid;
  border-color: black;
  margin: 10px 10px;
}

.memberArrow {
  margin: 0 0 0 5px;
}

.member {
  width: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  justify-content: flex-end;
  margin: 0 50px 0 0;
}

.memberAddress {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 50px 10px 50px;
  color: #c5c5c5;
}

.address {
  margin: 0 5px 0 0;
}
.memberType {
  align-items: right;
  color: #c5c5c5;
}

.email {
  color: #c9c9c9;
}

.fa-chevron-right {
  color: #00dd93;
  text-align: right;
}

.fa-chevron-down {
  color: #00dd93;
  text-align: right;
}

.spinner {
  text-align: center;
  margin: 10px 10px;
}
